code {
	font-family: Consolas,"courier new";
	color: rgb(230, 14, 14);
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 105%;
}
img {
	padding-top: 5px;
}
code {
	padding-top: 5px;
	padding-bottom: 5px;
}
h3,h1,h4{
	padding-top: 8px;	
}

.container {
        display: flex;
        align-items: center;
        width: 100%;
      }
.code {
     margin-right: 10px;
	 width: 42%;
	 font-family: Consolas,"courier new";
	color: rgb(230, 14, 14);
	/*color:#b5b5b5;*/
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 105%;
}

input {
	margin-left:10%;
	background-color:black;
	animation:pulse 1s;
	border-radius:7px;
	color:white;	
}

.btn {
	border: 2px solid black;
}
/*
// Animate the size, outside
.btn:hover, 
.btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
} */